In [2]:
import pandas as pd
import numpy as np
data=pd.read_csv('Day_7_sales_data.csv')
data

          Date     Product Region    Sales  Profit  Quantity
0   2023-01-02      Tablet   East  1061.81  236.12         7
1   2023-01-06      Laptop  North  1926.07  246.34         8
2   2023-01-03      Tablet   East  1597.99  253.17         3
3   2023-01-20      Tablet  North  1397.99  242.23         1
4   2023-01-04      Laptop   West   734.03  140.36         4
5   2023-01-17      Tablet  North   733.99  188.66         2
6   2023-01-14    Keyboard   East   587.13   82.16         8
7   2023-01-07  Smartphone   East  1799.26  364.97         4
8   2023-01-11  Smartphone   West  1401.67  306.24         2
9   2023-01-01      Laptop  North  1562.11  170.72         6
10  2023-01-19     Monitor  North   530.88  117.59         6
11  2023-01-12      Laptop   West  1954.86  262.16         4
12  2023-01-09     Monitor  North  1748.66  197.62         6
13  2023-01-10  Smartphone  North   818.51  237.19         2
14  2023-01-08      Laptop   East   772.74  226.51         2
15  2023-01-05    Keyboard  North   775.11  202.83         4
16  2023-01-15      Tablet  North   956.36  153.90         8
17  2023-01-18     Monitor   West  1287.13  153.86         7
18  2023-01-13      Tablet   West  1147.92  271.88         9
19  2023-01-16      Tablet  South   936.84  176.15         8

In [12]:

high_sales_data = data[data['Sales'] > 1000]
print(high_sales_data)

          Date     Product Region    Sales  Profit  Quantity  Profit_Per_Unit  \
0   2023-01-02      Tablet   East  1061.81  236.12         7        33.731429
1   2023-01-06      Laptop  North  1926.07  246.34         8        30.792500
2   2023-01-03      Tablet   East  1597.99  253.17         3        84.390000
3   2023-01-20      Tablet  North  1397.99  242.23         1       242.230000
7   2023-01-07  Smartphone   East  1799.26  364.97         4        91.242500
8   2023-01-11  Smartphone   West  1401.67  306.24         2       153.120000
9   2023-01-01      Laptop  North  1562.11  170.72         6        28.453333
11  2023-01-12      Laptop   West  1954.86  262.16         4        65.540000
12  2023-01-09     Monitor  North  1748.66  197.62         6        32.936667
17  2023-01-18     Monitor   West  1287.13  153.86         7        21.980000
18  2023-01-13      Tablet   West  1147.92  271.88         9        30.208889

   High_Sales
0         Yes
1         Yes
2         Yes
3         Yes
7         Yes
8         Yes
9         Yes
11        Yes
12        Yes
17        Yes
18        Yes

In [16]:
east_sales_data = data[data['Region'] == 'East']
print(east_sales_data)
west_sales_data = data[data['Region'] == 'West']
print(west_sales_data)
north_sales_data = data[data['Region'] == 'North']
print(north_sales_data)
south_sales_data = data[data['Region'] == 'South']
print(south_sales_data)

          Date     Product Region    Sales  Profit  Quantity  Profit_Per_Unit  \
0   2023-01-02      Tablet   East  1061.81  236.12         7        33.731429
2   2023-01-03      Tablet   East  1597.99  253.17         3        84.390000
6   2023-01-14    Keyboard   East   587.13   82.16         8        10.270000
7   2023-01-07  Smartphone   East  1799.26  364.97         4        91.242500
14  2023-01-08      Laptop   East   772.74  226.51         2       113.255000

   High_Sales
0         Yes
2         Yes
6          No
7         Yes
14         No
          Date     Product Region    Sales  Profit  Quantity  Profit_Per_Unit  \
4   2023-01-04      Laptop   West   734.03  140.36         4        35.090000
8   2023-01-11  Smartphone   West  1401.67  306.24         2       153.120000
11  2023-01-12      Laptop   West  1954.86  262.16         4        65.540000
17  2023-01-18     Monitor   West  1287.13  153.86         7        21.980000
18  2023-01-13      Tablet   West  1147.92  271.88         9        30.208889

   High_Sales
4          No
8         Yes
11        Yes
17        Yes
18        Yes
          Date     Product Region    Sales  Profit  Quantity  Profit_Per_Unit  \
1   2023-01-06      Laptop  North  1926.07  246.34         8        30.792500
3   2023-01-20      Tablet  North  1397.99  242.23         1       242.230000
5   2023-01-17      Tablet  North   733.99  188.66         2        94.330000
9   2023-01-01      Laptop  North  1562.11  170.72         6        28.453333
10  2023-01-19     Monitor  North   530.88  117.59         6        19.598333
12  2023-01-09     Monitor  North  1748.66  197.62         6        32.936667
13  2023-01-10  Smartphone  North   818.51  237.19         2       118.595000
15  2023-01-05    Keyboard  North   775.11  202.83         4        50.707500
16  2023-01-15      Tablet  North   956.36  153.90         8        19.237500

   High_Sales
1         Yes
3         Yes
5          No
9         Yes
10         No
12        Yes
13         No
15         No
16         No
          Date Product Region   Sales  Profit  Quantity  Profit_Per_Unit  \
19  2023-01-16  Tablet  South  936.84  176.15         8         22.01875

   High_Sales
19         No

In [10]:
data['Profit_Per_Unit'] = data['Profit'] / data['Quantity']
data['High_Sales'] = data['Sales'].apply(lambda x: 'Yes' if x > 1000 else 'No')
print(data)

          Date     Product Region    Sales  Profit  Quantity  Profit_Per_Unit  \
0   2023-01-02      Tablet   East  1061.81  236.12         7        33.731429
1   2023-01-06      Laptop  North  1926.07  246.34         8        30.792500
2   2023-01-03      Tablet   East  1597.99  253.17         3        84.390000
3   2023-01-20      Tablet  North  1397.99  242.23         1       242.230000
4   2023-01-04      Laptop   West   734.03  140.36         4        35.090000
5   2023-01-17      Tablet  North   733.99  188.66         2        94.330000
6   2023-01-14    Keyboard   East   587.13   82.16         8        10.270000
7   2023-01-07  Smartphone   East  1799.26  364.97         4        91.242500
8   2023-01-11  Smartphone   West  1401.67  306.24         2       153.120000
9   2023-01-01      Laptop  North  1562.11  170.72         6        28.453333
10  2023-01-19     Monitor  North   530.88  117.59         6        19.598333
11  2023-01-12      Laptop   West  1954.86  262.16         4        65.540000
12  2023-01-09     Monitor  North  1748.66  197.62         6        32.936667
13  2023-01-10  Smartphone  North   818.51  237.19         2       118.595000
14  2023-01-08      Laptop   East   772.74  226.51         2       113.255000
15  2023-01-05    Keyboard  North   775.11  202.83         4        50.707500
16  2023-01-15      Tablet  North   956.36  153.90         8        19.237500
17  2023-01-18     Monitor   West  1287.13  153.86         7        21.980000
18  2023-01-13      Tablet   West  1147.92  271.88         9        30.208889
19  2023-01-16      Tablet  South   936.84  176.15         8        22.018750

   High_Sales
0         Yes
1         Yes
2         Yes
3         Yes
4          No
5          No
6          No
7         Yes
8         Yes
9         Yes
10         No
11        Yes
12        Yes
13         No
14         No
15         No
16         No
17        Yes
18        Yes
19         No